.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0%;
    background-color: aliceblue;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: black 10px 10px 10px 10px;
}

.note{
    font-size: 25px;
    color: navy;
    line-break: normal;
    line-height: 40px;
    font-weight: 700;
    font-family: serif;
}

